﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}




.name {
    width: 120px;
    height: 2em;
    line-height: 1em;
    text-overflow: ellipsis;
    margin-bottom: 12px;
    cursor: pointer;
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
}

    .name:hover {
        overflow: visible;
        white-space: normal;
        height: auto; /* just added this line */
    }

.rating {
    margin-top: 6px;
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
}

    .rating label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;
    }

        .rating label:last-child {
            position: static;
        }

        .rating label:nth-child(1) {
            z-index: 5;
        }

        .rating label:nth-child(2) {
            z-index: 4;
        }

        .rating label:nth-child(3) {
            z-index: 3;
        }

        .rating label:nth-child(4) {
            z-index: 2;
        }

        .rating label:nth-child(5) {
            z-index: 1;
        }

        .rating label input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .rating label .icon {
            float: left;
            color: transparent;
        }

        .rating label:last-child .icon {
            color: #000;
        }

    .rating:not(:hover) label input:checked ~ .icon,
    .rating:hover label:hover input ~ .icon {
        color: orange;
    }

    .rating label input:focus:not(:checked) ~ .icon:last-child {
        color: #000;
        text-shadow: 0 0 5px #09f;
    }

.star-card {
    border: #848889 dashed 0.5px;
    border-radius: 5%;
    text-align: center;
    width: 200px;
    font-family: arial;
    margin-left: 20px;
}
