﻿
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<ProjectDate.WEB.Models.EmployeeViewModels.EmployeeViewModel>
<h1>Сотрудники</h1>
<div class="row">
    <div class="btn-group col-md-push-10  col-md-2">
        <a class="btn btn-default btn-block" id="addEmployee">Добавить</a>
    </div>
</div>
<br />
<table id="employeeTable" class="table ">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Почта</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
        <tr>
            <td>@employee.Name</td>
            <td>@employee.Surname</td>
            <td>@employee.Lastname</td>
            <td>@employee.Email</td>
            <td style="width: 10%;">
                <form asp-action="Delete" method="post" asp-route-id="@employee.Id">
                    <input type="submit" value="Удалить" class="btn btn-block btn-danger" />
                </form>
            </td>
            <td style="width: 10%;border:none;"><a class="btn btn-block btn-danger" onclick="updateEmployee('@employee.Id')">Изменить</a></td>
        </tr>
        }
    </tbody>
</table>

<div class="modal fade bs-example-modal-lg" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Добавить сотрудника</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#addEmployee').click(function () {
            $('#employeeModal #myModalLabel').text('Добавить сотрудника');
            $('#employeeModal .modal-body').load('@Url.Action("Create")');
            $('#employeeModal').modal();
        });

        function updateEmployee(id) {
            $('#employeeModal #myModalLabel').text('Редактировать сотрудника');
            $('#employeeModal .modal-body').load('@Url.Action("Update")?employeeId='+id);
            $('#employeeModal').modal();
        }
        $(document).ready(function() {
            $("#employeeTable").DataTable({
                "language": {
                    "lengthMenu": "Показать _MENU_ сотрудников на странице",
                    "zeroRecords": "Сотрудников нет",
                    "info": "Страница _PAGE_ из _PAGES_",
                    "infoEmpty": "Ничего не найдено",
                    "infoFiltered": "( отфилтрована из _MAX_ сотрудников )",
                    "search": "",
                    "paginate": {
                        "previous": "Назад",
                        "next": "Вперед"
                    },
                    searchPlaceholder: "Поиск"
                }
            });
        });
    </script>
}