﻿
@model ProjectDate.WEB.Models.MemberViewModels.MemberCreateModel
@{
    ViewData["Title"] = "AddMember";
}

<div class="row">
    <div class="col-md-12">
        <div id="memberResult">
            <div class="input-group" id="copyMember">
                <span class="input-group-addon">@Model.Name</span>
                <input type="hidden" asp-for="EmployeeId" value="@Model.EmployeeId" id="member_id" />
                <input type="hidden" asp-for="ProjectId" value="@Model.ProjectId" id="project_id"/>
                <select class="form-control" name="PositionId" id="position_id">
                    @foreach (var position in ViewBag.Positions)
                    {
                        <option value="@position.Id" class="form-control">@position.Name</option>
                    }
                </select>
                <span asp-validation-for="PositionId" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="form-group">
            <a href="#" type="submit" onclick="addNewMember()" class="btn btn-default">Добавить</a>
        </div>
    </div>
</div>



@Html.Partial("_ValidationScriptsPartial")