﻿@model ProjectDate.WEB.Models.ProjectViewModels.ProjectCreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Добавить проект</h2>
<hr />
<div class="row">
    <form asp-action="Create">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label">Заказчик</label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecuterName" class="control-label">Исполнитель</label>
                <input asp-for="ExecuterName" class="form-control" />
                <span asp-validation-for="ExecuterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Дата началы</label>
                <input asp-for="StartDate" type="date" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Дата окончания</label>
                <input asp-for="EndDate" type="date" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label">Коментарий</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group rating">
                <label>
                    <input type="radio" asp-for="Rating" value="1" />
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                    <input type="radio" asp-for="Rating" value="2" />
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                    <input type="radio" asp-for="Rating" value="3" />
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                    <input type="radio" asp-for="Rating" value="4" />
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                    <input type="radio" asp-for="Rating" value="5" />
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>

        </div>
        <div class="col-md-6">
            <button class="pull-right btn btn-info" style="margin-bottom: 15px" id="addMember">Добавить исполнителя</button>
            <br/><br /><br />
            <div id="memberResult">

            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Выберите сотрудника</h4>
            </div>
            <div class="modal-body">
                <table id="positionTable" class="table table-striped table-bordered text-center ">
                    <thead>
                        <tr>
                            <th>ФИО</th>
                        </tr>
                    </thead>
                    <tbody id="emploee_list"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<div class="hidden">
    <div class="input-group" id="copyMember">
        <span class="input-group-addon" id="memberName"></span>
        <input type="hidden" name="EmployeeId" value="-1" id="member_id" />
        <select class="form-control" name="PositionId" >
            @foreach (var position in ViewBag.Positions)
            {
                <option value="@position.Id" class="form-control">@position.Name</option>
            }
        </select>
    </div>
</div>
@section Scripts{
    <script>
        var positions;
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("SelectMember", "Employee")',
                data: { 'projectId':  null},
                dataType: 'json',
                success: function(message) {
                    positions = jQuery.parseJSON(message);
                    if (positions.length > 0) {
                        for (var i = 0; i < positions.length; i++) {
                            var name = positions[i].Name + ' ' + positions[i].Surname;
                            var id = positions[i].Id;
                            var html = '<tr id="employee_'+id+'">' +
                                '<td>' +
                                '<a class="btn btn-default btn-lg" onclick="getEmployee(\'' + id + '\',\'' + name + '\')">' + name + '</a></td></tr>';
                            $('#emploee_list').append(html);
                        }
                    }
                },
                error: function() {
                    alert("There was error uploading files!");
                }
            });
        });

        $('#addMember').click(function(e) {
            e.preventDefault();
            $("#myModal").modal();
        });
        function getEmployee(id, name) {
            $('#employee_' + id).hide();
            $('#myModal').modal('toggle'); 
            $(".hidden #copyMember #memberName").text(name);
            $(".hidden #copyMember #member_id").attr('value', id);
            $(".hidden #copyMember").clone().appendTo("#memberResult");
            $('#memberResult input').attr('id', 'member_' + id);
            $("#copyMember").attr('id', 'copy+' + id);
            console.log(id);
        }
    </script>

}