﻿@model IEnumerable<ProjectDate.WEB.Models.MemberViewModels.MemberViewModel>

<p>
    <a href="#" onclick="addMember('@ViewBag.ProjectId')">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Сотрудник
            </th>
            <th>
                Должность
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr id="member_@item.Id">
                    <td>
                        @item.Employee.Name @item.Employee.Surname
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position.Name)
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteMember('@item.Id')">Удалить</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">Никого нет</td>
            </tr>
        }
    </tbody>
</table>



@Html.Partial("_ValidationScriptsPartial")