﻿@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<ProjectDate.WEB.Models.ProjectViewModels.ProjectViewModel>
<h2>Проекты</h2>
<div class="row">
    <div class="btn-group col-md-push-10  col-md-2">
        <a class="btn btn-default btn-block" asp-action="Create">Добавить</a>
    </div>
</div>
<br />
<table id="projectTable" class="table display">
    <thead>
    <tr>
        <th>Проект</th>
        <th>Заказчик</th>
        <th>Исполнитель</th>
        <th>Срок</th>
        <th>Приоритет</th>
        <th>Комментарий</th>
        <th>Команда</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var project in Model)
    {
        <tr id="project_@project.Id">
            <td>@project.Name</td>
            <td>@project.CustomerName</td>
            <td>@project.ExecuterName</td>
            <td>@project.StartDate.ToString("d")-@project.EndDate.ToString("d")</td>
            <td>@project.Rating</td>
            <td><p class="name">@project.Comment</p></td>
            <td><button class="btn btn-info" onclick="getMembers('@project.Id')">Просмотреть</button></td>
            <td><a class="btn btn-block btn-danger" asp-action="Update" asp-route-projectId="@project.Id">Изменить</a></td>
            <td><button class="btn btn-default" onclick="deleteProject('@project.Id')">Удалить</button></td>
        </tr>
    }
    </tbody>
</table>
<div class="modal fade bs-example-modal-lg" id="projectInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<div class="hidden" id="copylist">
    <table id="positionTable" class="table table-striped table-bordered text-center ">
        <thead>
        <tr>
            <th>ФИО</th>
        </tr>
        </thead>
        <tbody id="emploee_list"></tbody>
    </table>
</div>


@section Scripts
{
    <script>
        function getMembers(id) {
            $('#projectInfo .modal-title').text('Команда');
            $('#projectInfo .modal-body').load('@Url.Action("GetMembers")?projectId=' + id);
            $('#projectInfo').modal();
        }

        function deleteProject(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete")',
                data: { 'id': id },
                success: function() {
                    $('#project_' + id).hide();
                },
                error: function() {
                    alert("There was error uploading files!");
                }
            });
        }

        function deleteMember(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteMember")',
                data: { 'id': id },
                success: function() {
                    $('#member_' + id).hide();
                },
                error: function() {
                    alert("There was error uploading files!");
                }
            });
        }


        function addMember(idProject) {
            $('#emploee_list').empty();
            $.ajax({
                type: "GET",
                url: '@Url.Action("SelectMember", "Employee")',
                data: { 'projectId': idProject },
                dataType: 'json',
                success: function(message) {
                    var positions = jQuery.parseJSON(message);
                    
                    if (positions.length > 0) {
                        for (var i = 0; i < positions.length; i++) {
                            var name = positions[i].Name + ' ' + positions[i].Surname;
                            var id = positions[i].Id;
                            var html = '<tr id="employee_'+id+'">' +
                                '<td>' +
                                '<a class="btn btn-default btn-lg" onclick="getEmployee(\'' + id + '\',\'' + idProject + '\')">' + name + '</a></td></tr>';
                            $('#emploee_list').append(html);
                            console.log('pppp' + positions.length);
                        }
                    }
                    $('#projectInfo .modal-body').empty();
                    $("#positionTable").clone().appendTo('#projectInfo .modal-body');

                },
                error: function() {
                    alert("There was error uploading files!");
                }
            });
        }


        $(document).ready(function() {
            $("#projectTable").DataTable({
                "language": {
                    "lengthMenu": "Показать _MENU_ проектов на странице",
                    "zeroRecords": "Проектов нет",
                    "info": "Страница _PAGE_ из _PAGES_",
                    "infoEmpty": "Ничего не найдено",
                    "infoFiltered": "( отфилтрована из _MAX_ проектов )",
                    "search": "",
                    "paginate": {
                        "previous": "Назад",
                        "next": "Вперед"
                    },
                    searchPlaceholder: "Поиск"
                }
            });
        });

        function getEmployee(id, idProject) {
            $('#projectInfo .modal-body').load('@Url.Action("AddMember")?employeeId=' + id + '&projectId=' + idProject);
            console.log(id);
        }

        function addNewMember() {
            var employee = $('#member_id').val();
            var project = $('#project_id').val();
            var position = $('#position_id').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddMember")',
                data: {
                    'employeeId': employee,
                    'positionId': position,
                    'projectId' : project
                },
                success: function() {
                    $('#projectInfo .modal-body').load('@Url.Action("GetMembers")?projectId=' + project);
                },
                error: function() {
                    alert("There was error uploading files!");
                }
            });
        }
        
    </script>
}
