﻿@model ProjectDate.WEB.Models.ProjectViewModels.ProjectCreateModel

@{
    ViewData["Title"] = "Update";
}

<h2>Изменить проект</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label">Заказчик</label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecuterName" class="control-label">Исполнитель</label>
                <input asp-for="ExecuterName" class="form-control" />
                <span asp-validation-for="ExecuterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Дата началы</label>
                <input asp-for="StartDate" class="form-control" type="date" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Дата окончания</label>
                <input asp-for="EndDate" class="form-control" type="date" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group rating">
                <label>
                    @if (Model.Rating == 1)
                    {
                        <input type="radio" asp-for="Rating" value="1" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" asp-for="Rating" value="1" />
                    }
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                    @if (Model.Rating == 2)
                    {
                        <input type="radio" asp-for="Rating" value="2" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" asp-for="Rating" value="2" />
                    }
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                    @if (Model.Rating == 3)
                    {
                        <input type="radio" asp-for="Rating" value="3" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" asp-for="Rating" value="3" />
                    }
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
                <label>
                    @if (Model.Rating == 4)
                    {
                        <input type="radio" asp-for="Rating" value="4" checked="checked" />
                    }
                    else
                    {
                        <input type="radio" asp-for="Rating" value="4" />
                    }
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                    <span class="fa fa-star icon"></span>
                </label>
            <label>
                @if (Model.Rating == 5)
                {
                    <input type="radio" asp-for="Rating" value="5" checked="checked" />
                }
                else
                {
                    <input type="radio" asp-for="Rating" value="5" />
                }
                <span class="fa fa-star icon"></span>
                <span class="fa fa-star icon"></span>
                <span class="fa fa-star icon"></span>
                <span class="fa fa-star icon"></span>
                <span class="fa fa-star icon"></span>
            </label>
            </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

