﻿
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<ProjectDate.WEB.Models.PositionViewModels.PositionViewModel>
<h1>Должности</h1>
<div class="row">
    <div class="btn-group col-md-push-10  col-md-2">
        <a class="btn btn-default btn-block" id="createPosition">Добавить</a>
    </div>
</div>
<br />

<table id="positionTable" class="table display">
    <thead>
    <tr>
        <th>Название</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var position in Model)
    {
        <tr>
            <td>@position.Name</td>
            <td style="width: 10%;border:none;">
                <form asp-action="Delete" method="post" asp-route-id="@position.Id">
                    <input type="submit" value="Удалить" class="btn btn-block btn-danger" />
                </form>
            </td>
            <td style="width: 10%;border:none;"><a class="btn btn-block btn-danger"  onclick="updatePosition('@position.Id')">Изменить</a></td>
        </tr>
    }
    </tbody>
</table>


<div class="modal fade bs-example-modal-lg" id="positionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $('#createPosition').click(function () {
            $('#myModalLabel').text('Добавить должность');
            $('#positionModal .modal-body').load('@Url.Action("Create")');
            $('#positionModal').modal();
        });

        function updatePosition(id) {
            $('#myModalLabel').text('Редактировать должность');
            $('#positionModal .modal-body').load('@Url.Action("Update")?positionId='+id);
            $('#positionModal').modal();
        }
        $(document).ready(function() {
            $("#positionTable").DataTable({
                "language": {
                    "lengthMenu": "Показать _MENU_ должностей на странице",
                    "zeroRecords": "Должностей нет",
                    "info": "Страница _PAGE_ из _PAGES_",
                    "infoEmpty": "Ничего не найдено",
                    "infoFiltered": "( отфилтрована из _MAX_ должностей )",
                    "search": "",
                    "paginate": {
                        "previous": "Назад",
                        "next": "Вперед"
                    },
                    searchPlaceholder: "Поиск"
                }
            });
        });
    </script>
}

